<!DOCTYPE html>
<html lang ="en">
  <head>
    <h3 class="mx-auto text-primary" style="width: 150px;"> Start Party </h3><br>

    <%= form_with url: "/parties", method: :post, data: { turbo: false } do |f| %>
      <div class="text-center text-bold pb-3 text-primary">  
        <h5 class="text-decoration-underline">Services</h5>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "services[]", 337 %>
        Disney Plus </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "services[]", 1899 %>
        Max </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "services[]", 9 %>
        Amazon Prime Video </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "services[]", 15 %>
        Hulu </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "services[]", 8 %>
        Netflix </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "services[]", 350 %>
        Apple TV Plus </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <h5 class="text-decoration-underline">Genres</h5>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 28 %>
        Action </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 12 %>
        Adventure </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 16 %>
        Animation </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 35 %>
        Comedy </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 80 %>
        Crime </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 99 %>
        Documentary </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 18 %>
        Drama </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 10751 %>
        Family </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 14 %>
        Fantasy </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 36 %>
        History </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 27 %>
        Horror </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 10402 %>
        Music </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 9648 %>
        Mystery </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 10749 %>
        Romance </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 878 %>
        Science Fiction </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 107770 %>
        TV Movies </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 53 %>
        Thriller </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 10752 %>
        War </br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        <%= check_box_tag "genres[]", 37 %>
        Western </br>
      </div>
      <div class="text-center pb-3 text-primary">  
        <%= f.label :max_duration %>
        <%= f.number_field :max_duration, value: 300 %></br>
      </div>
      <div class="text-center text-bold pb-3 text-primary">
        Rating:
        <select name="max_rating" id="max_rating">
        <option value="">--Select--</option>
        <option value="g">G</option>
        <option value="pg">PG</option>
        <option value="pg-13">PG-13</option>
        <option value="r">R</option>
        <option value="nc-17">NC-17</option>
        </select></br>
      </div>
      <div class="text-center pb-3 text-primary">  
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Create New Party", class: "btn btn-primary" %>
      </div>
    <% end %>
  </head>
<html>


