<!DOCTYPE html>
<html lang ="en">
  <head>
    <h2 class="mx-auto text-primary" style="width: 150px;"> Log in</h2><br>

    <%= form_with url: "/sessions", method: :post, data: { turbo: false } do |f| %>
    <div class="text-center pb-3 text-primary">  
      <%= f.label :email %>
      <%= f.text_field :email %></br>
    </div>
    <div class="text-center pb-3 text-primary">  
      <%= f.label :password %>
      <%= f.password_field :password %></br>
    </div>
    <div class="text-center">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
    <% end %>
  </head>
<html>