<!DOCTYPE html>
<html lang ="en">
  <head>
    <h2 class="mx-auto text-primary" style="width: 150px;"> New User </h2><br>

    <%= form_with url: "/users", method: :post, data: { turbo: false } do |f| %>
     <div class="text-center pb-3 text-primary">  
      <%= f.label :name %>
      <%= f.text_field :name %></br>
    </div>
    <div class="text-center pb-3 text-primary">  
      <%= f.label :email %>
      <%= f.text_field :email %></br>
    </div>
    <div class="text-center pb-3 text-primary">  
      <%= f.label :password %>
      <%= f.password_field :password %></br>
    </div>
    <div class="text-center pb-3 text-primary">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></br><br>
    </div>
      <%= f.hidden_field :role, value: 1 %>
   <div class="text-center"> 
      <%= f.submit "Create New User", class: "btn btn-primary" %>
    </div>
    <% end %>
  </head>
<html>