<!DOCTYPE html>
<html lang ="en">
  <head>
    <h1>Welcome</h1>
      <% if current_user %>
        current user
      <% else %>
      not logged in
      <% end %>

      <%= form_with url: "/temp_users", method: :post, data: { turbo: false } do |f| %>
        <%= f.label :name, "Your name:" %>
        <%= f.text_field :name %></br>
        <%= f.label :access_code, "Access Code:" %>
        <%= f.text_field :access_code %></br>
        <%= f.submit "Join Party" %>
      <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<html>