<!DOCTYPE html>
<html lang ="en">
  <head>
  <br>
    <h1 class="text-center text-bold pb-3 text-primary"><%= @movie.title %></h1></br>

    <div class="text-center">
      <img src=<%= @movie.poster_path %> alt= <%= @movie.title %>><br><br>
    </div>


    <div class="text-center text-bold pb-3 text-primary">
      <h4>Runtime: <%= @movie.runtime %></h4>
    </div>
    <div class="text-center text-bold pb-3 text-primary">
      <h4>Rating: <%= @movie.rating %></h4>
    </div>
    <div class="text-center text-bold pb-3 text-primary">
      <h4 class="text-decoration-underline">Genre(s):<h4>
        <% unless @movie.genres == "corrupt data" %>
          <% @movie.genres.each do |genre| %>
            <h6><%= genre %></h6>
          <% end %>
        <%end%>
    </div><br>
    <br>
    <div class="row">
      <div class="col">
          <%= form_with url: "/temp_users/#{params[:temp_user_id]}/liked_movies/next", method: :get, data: { turbo: false } do |f| %>
          <%= f.hidden_field :party_id, value: params[:party_id] %>
          <%= f.hidden_field :movies_arr, value: params[:movies_arr] %>
          <%= f.hidden_field :access_code, value: params[:access_code] %>
          <%= f.hidden_field :round, value: params[:round] %>
          <div class="text-center pb-3 text-primary">
            <%= f.submit "Not Today", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>

      <div class="col">
        <%= form_with url: "/temp_users/#{params[:temp_user_id]}/liked_movies/create", method: :post, data: { turbo: false } do |f| %>
          <%= f.hidden_field :movie_id, value: @movie.id %>
          <%= f.hidden_field :party_id, value: params[:party_id] %>
          <%= f.hidden_field :movies_arr, value: params[:movies_arr] %>
          <%= f.hidden_field :access_code, value: params[:access_code] %>
          <%= f.hidden_field :round, value: params[:round] %>
          <div class="text-center pb-3 text-primary">
            <%= f.submit "Like", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div><br>

      <div class="list-unstyled text-center text-bold pb-3 text-primary">
        <h4 class="text-decoration-underline">Results:</h4>
        <ul id="results">
          <!-- results are displayed here -->
        </ul>
      </div>

      <%= form_with url: "/parties/#{params[:party_id]}/details", method: :get, data: {turbo: false } do |f| %>
        <div class="text-center pb-3 text-primary">  
          <%= f.submit "Movie Details", class: "btn btn-primary"%>
        </div>
      <% end %>
  </head>
</html>

<script>
  var conn_ws = '<%= Rails.application.config.conn_ws %>'
  const queryString = window.location.search
  const urlParams = new URLSearchParams(queryString)
  const partyId = urlParams.get('party_id')
  const selectionChannel = new WebSocket(conn_ws);

  selectionChannel.onopen = function() {
    selectionChannel.send(JSON.stringify({
      command: 'subscribe',
      identifier: JSON.stringify({ channel: 'SelectionChannel', party: partyId })
    }));

    updateResultsOnPageLoad();
  };

  selectionChannel.onmessage = function(event) {
    const response = JSON.parse(event.data);

    if (response.type && response.type === "ping") {
      return;
    }

    if (response && response.message) {
      const resultsList = document.getElementById('results');
      const newResults = document.createElement('li');

      resultsList.innerHTML = '';
      response.message.results.forEach(result => {
        const newResult = document.createElement('li');
        newResult.textContent = result;
        resultsList.appendChild(newResult);
      });
    }
  };

  window.updateResults = function() {
    selectionChannel.send(JSON.stringify({
      command: 'message',
      identifier: JSON.stringify({ channel: 'SelectionChannel', party: partyId }),
      data: JSON.stringify({ action: 'update_results' })
    }));
  };

  function updateResultsOnPageLoad() {
    updateResults();
  }
</script>

